<fieldset>
  <legend>Create an author</legend>
  <p>
    <%= text_field :name, :label => 'Name: ' %>
  </p>
<% if @author.new_record? -%>
  <p>
    Invitation Code: <strong><em><%= (params[:invitation_code].to_s.empty? ? 'None! This will not work!' : params[:invitation_code]) -%><%= hidden_field :name => 'invitation_code', :value => params[:invitation_code] -%></em></strong>
  </p>
<% end -%>
  <p>
    <%= text_field :url, :label => 'Home URL: ' %>
  </p>
  <p>
    <%= password_field :password, :label => 'Password: ', :size => 40 %>
  </p>
  <p>
    <%= password_field :password_confirmation, :label => 'Password (Confirm): ', :size => 40 %>
  </p>
</fieldset>
