<% throw_content :for_sidebar do -%>
  <div id="tag_cloud">
    <p>Popular Tags</p>
    <%= tag_cloud @tags %>
  </div>
  
  <div id="related_links">
    <div class="title"><%= tuxconfig[:related_links_title] -%></div>
    <p>
      <%= tuxconfig[:related_links].join('<br />') %>
    </p>
  </div>
  
  <% unless tuxconfig[:github_badge_id].to_s.empty? -%>
  <div id="github-badge"></div>
  <script type="text/javascript" charset="utf-8">
    GITHUB_USERNAME="<%= tuxconfig[:github_badge_id] -%>";
  </script>
  <script src="http://drnic.github.com/github-badges/dist/github-badge-launcher.js" type="text/javascript"></script>
  <% end -%>
<% end -%>

<% if @news.empty? -%>

  <p><strong><em>There are no news posts, yet.</em></strong></p>

<% else -%>

  <% @news.each do |page| -%>
    <%= partial 'pages/page', :with => [ page ] %>
  <% end -%>

  <%= partial 'shared/pagination_links' %>

<% end -%>
