<% throw_content :for_sidebar do -%>
  <% if allowed_to?(:create_albums) -%><a href="<%= url(:new_album) -%>"><img src="/images/folder-new.png" alt="Create Album" /> Create An Album</a><br /><% end -%>
  <% if allowed_to?(:edit_album) -%><a href="<%= url(:edit_album, :id => @album.name.gsub(/ /, '_')) -%>" rel="nofollow"><img src="/images/document-save.png" /> Edit Album</a><br /><% end %>
  <% if allowed_to?(:delete_albums) -%><a href="<%= url(:delete_album, :id => @album.name.gsub(/ /, '_')) -%>" onclick="if(!confirm('Are you sure you want to delete this album?')){return false;}"><img src="/images/edit-delete.png" /> Destroy Album</a><br /><% end %>
  <% if allowed_to?(:upload_images) -%><a href="<%= url(:new_photo, :photo => { :album_id => @album.id }) -%>"><img src="/images/emblem-photos.png" /> Upload Image</a><br /><% end %>
<% end -%>

<% throw_content :for_stylesheet do -%>

.photo_collection_item {
  word-wrap: break-word;
  width: 150px;
  min-height: 150px;
  max-height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 3px;
  border: 1px solid #BBB;
  float: left;
  position: relative;
}

.col_1 {
  margin-left: 5px;
}

.col_2 {
  margin-left: 5px;
}

.col_3 {
  margin-left: 5px;
}

.col_0 {
  margin-left: 5px;
}

<% end -%>

<div class="hentry">
<h1><%= @album.name -%></h1>

<% @album.photos.each_with_index do |photo, idx| -%>
  <div class="photo_collection_item col_<%= (idx + 1) % 4 -%>"><a href="<%= url(:photo, photo) -%>" rel="nofollow" onclick="window.open(this.href);return false;"><img src="<%= thumbnail_photo_url(photo) -%>" /></a></div>
<% end -%>

<% unless @album.tags.empty? -%>
  <br style="clear: both;" />
  <ul class="meta">
    <li>Tags: <%= @album.tags.collect { |t| "<a href='#{url(:tag, :id => t.name)}' title='#{t.name}'>#{t.name}</a>" }.join(' ') -%></li>
  </ul>
<% end -%>
</div>
